@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    padding: 0;
    margin: 0;
}

.page {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

#navbar .nav-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
}

#navbar .btn-floating.btn-large {
    width: 35px;
    height: 35px;
}
#navbar .btn-floating.btn-large i {
    font-size: 18px;
    line-height: 2;
}


.advertisers-page .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.advertisers-page .head h1 {
    line-height: 1;
    margin: 0;
}

.advertisers-page .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;

    span {
        padding-left: 20px;
        display: block;
    }
}
.advertisers-page {
    .table-wrapper {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
    table {
        th {
            .sort {
                display: flex;
                cursor: pointer;
                transition: all .3s;


                i {
                    transition: all .3s;
                }

                &:hover {
                    i {
                        transform: translateY(5px);
                    }
                }
            }
            .sort.active {
                color: #ff3d00;
            }
        }

        td,
        th {
            padding-left: 10px;
            padding-right: 10px;
        }
        td:first-child,
        th:first-child{
            width: 60%;
        }
        td:last-child {
            text-align: right;
        }

        td:last-child.empty-td {
            text-align: left;
        }
    }

    table.table-group {
        td:first-child,
        th:first-child {
            width: 40%;
        }
        th:nth-of-type(4),
        td:nth-of-type(4) {
            width: 17%;
        }
    }

    table.sub-group {
        td:first-child,
        th:first-child{
            width: auto;
            min-width: 130px;
        }
    }

    .btn-edit {
        width: 35px;
        height: 35px;

        i {
            line-height: 35.4px;
            transition: all .3s;
        }
        transition: all .3s;
    }
    .btn-table {
        &:hover {
            i {
                background: #fff;
                color: #26a69a;
                font-size: 1rem;
            }
        }
    }
    .btn-delete {
        margin-left: 20px;

        &:hover {
            i {
                background: #fff;
                color: #d32f2f;
                font-size: 1rem;
            }
        }
    }

    .sub-nav {
        display: flex;
        align-items: center;
        i {
            font-size: 20px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .tabs {
        height: auto;

        .control {
            display: flex;
        }

        .btn {
            box-shadow: none;
            margin-right: 15px;
            border-radius: 0;
        }
        #pos:checked ~ .output .positive-label,
        #neg:checked ~ .output .negative-label {
            display: block;
            z-index: 1;
        }

        #pos:checked ~ .control label[for=pos],
        #neg:checked ~ .control label[for=neg] {
            background-color: #004d40 !important;
        }

        .output {
            padding: 20px 30px;
            width: 100%;
            height: auto;
            border: 1px solid #26a69a;
            overflow: hidden;
            position: relative;

            .item {
                height: auto;
                position: relative;
                display: none;
                transition: all .3s;
                z-index: 0;
                width: 100%;
                white-space: normal;
                h3 {
                    padding-top: 0;
                    margin-top: 0;
                }
                p {
                    font-size: 20px;
                }
            }

            .item-inner {
                .line {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 10px 0px;

                    .btn-small {
                        margin-left: 15px;
                    }

                    span {
                        margin: 0;
                        padding: 0;
                        line-height: 1;
                    }

                    h6 {
                        margin: 0;
                        padding: 0;
                        line-height: 1;
                        text-transform: uppercase;
                        margin-right: 20px;
                        font-size: 22px;
                    }
                }

                .geo,
                .os-type {
                    width: 50%;
                    min-height: 150px;
                }

                .os-type {
                    ul {
                        padding-left: 40px;
                    }
                }

                .geo {
                    display: flex;

                    .geo-inner {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 150px;
                        width: 100%;
                        border: 1px solid #58a39c;
                        padding: 20px;
                        margin-right: 50px;
                        border-radius: 15px;
                    }
                }
            }
        }

        .wrapper-fields {
            padding: 0;
            height: 500px;
            overflow-y: scroll;
        }

        .modal {
            a {
                width: max-content;
                margin: 0 auto;
                display: block;
            }
        }
    }
}

.sub-group_wrapper {
    .head {
        padding-top: 20px;
        align-items: stretch;
        flex-wrap: wrap;

        .info {
            width: 50%;
            display: flex;
            flex-wrap: wrap;

            .field {
                width: 50%;
                padding-right: 20px;
                padding-bottom: 20px;
                input {
                    width: 50%;
                    height: 20px;
                    padding-bottom: 5px;
                }
                h6 {
                    min-height: 20px;
                    padding-bottom: 13px;
                }
                p {
                    margin-top: 5px;
                }
            }
            .field-first {
                width: 50%;

                select {
                    width: 130px;
                }

                label {
                    padding-right: 20px;
                }
            }
            .field-second {
                width: 30%;

                input {
                    width: 100px;
                }
            }
            .field-frequency {
                h6 {
                    display: flex;
                    align-items: baseline;

                    input {
                        width: 40px;
                        margin: 0 10px;
                        text-align: center;
                    }
                }
            }
            .field-placement {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .field {
                    width: 20%;
                    input {
                        width: 40px;
                    }
                }

                &-st.field {
                    width: 60%;
                    label {
                        margin-right: 20px;
                    }
                }
            }
        }
        select {
            opacity: 1;
            display: block;
        }

        .creatives {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                padding: 20px;
                border: 1px solid rgb(88, 163, 156);

                .content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    h4 {
                        text-align: center;
                    }
                }
            }

            .btn-wrapper {
                display: flex;
                justify-content: space-between;
                max-width: 250px;
            }
        }

        .saveall {
            margin-top: 20px;
        }
    }
}

.modal-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    position: fixed;
    background: #00000057;

    .modal {
        width: 1000px;
        height: auto;
        max-height: none;
        overflow: hidden;
    }

    .close {
        cursor: pointer;
    }

    .wrapper-fields {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 24px 24px 0;

        label {
            color: #333333;
        }
        .field-inner {
            display: flex;
            justify-content: space-between;

            .field-item {
                width: 45%;
            }
        }

        p {
            min-height: 55px;
        }

        .field {
            width: 30%;

            &:first-child {
                width: 65%;
            }
        }
        .field-number {
            width: 15%;
        }
        .field-mix {
            width: 30%;
        }
        .field-one {
            width: 100%;
        }
        .field-mix.field-frequency {
            p {
                min-height: 55px;
            }

            .field-item {
                display: flex;
                align-items: center;
                span {
                    padding-right: 30px;
                }
            }
        }

        .wrapper-status {
            display: flex;
            flex-wrap: wrap;

            p {
                padding-right: 30px;
            }
        }
    }

    .modal-content {
        p {
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        margin-left: auto;
        width: 200px;

        .btn {
            width: max-content;
        }
    }
}

.modal.open {
    position: static;
    z-index: 1003;
    display: block;
    opacity: 1;
    padding: 40px;
}
.modal.modal-remove {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 400px;

    .btn-wrapper {
        .btn {

        }
    }
}

.datePicker {
    .react-date-picker__wrapper {
        border: none;
    }
    .react-date-picker__calendar-button {
        display: none;
    }
    .react-date-picker__calendar {
        top: auto !important;
        bottom: 100% !important;
    }
}

.status.Active {
    color: #00c853;
}
.status.Stopped {
    color: #b71c1c;
}
.status.Completed {
    color: #ff6f00;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 20px;

    button {
        border: none;
        outline: none;
        background: none;

        &[disabled] {
            color: #ababab;
        }
    }
}

.preloader {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.80);
}

